
@{
    Layout = null;
    var wor = (BAL.Vocabulary)ViewBag.tim;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    đây rồi
    @wor.WordType <br />
    @wor.Words <br />
    @wor.Spelling <br />
    @wor.Mean <br />
    @wor.ExSenetence <br />
</body>
</html>
